.container
{
    border-radius: 4px;
	background: #f5f5f5;
	width: 70%;
	overflow: auto;
	margin: 0 auto 5px;
	padding: 5px;
    border: 1px solid
}

label
{
	width: 150px;
	text-align: right;
	margin: 0 10px 0 0;
	padding: 0;
    float: left
}

input
{
	margin: 0 0 5px
}

input, textarea
{
    border-radius: 4px;
    padding: 6px;
    border: 1px solid #E5E5E5;
    outline: 0;
    font: 12px verdana, arial, sans-serif;
    width: 200px;
    background: #FFFFFF;
    box-shadow: rgba(0,0,0,0.3) 0 1px 2px
}

textarea
{
    width: 400px;
    max-width: 400px;
    height: 150px
}

input:hover, textarea:hover, input:focus, textarea:focus
{
    border-color: #000000
}

.form label
{
    margin-top: 5px;
    margin-left: 10px;
    color: #617798
}

.field input[type="text"]
{
    width: 30em
}

.field input[type="url"]
{
    width: 70em
}

.submit
{
    text-align: center
}

.submit input
{
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF
}

.contentRatingSelect
{
    padding-bottom: 5px
}

.posterDrop
{
    border-radius: 4px;
    box-shadow: 0 2px 3px gray;
    margin-left: 170px;
    margin-bottom: 5px;
    background: #FFFFFF;
    width: 140px;
    height: 208px
}

select
{
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
    background: transparent;
    width: 200px;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    height: 30px;
}