h4
{
	font-size: 13px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px
}

img, .metadata, .container
{
	box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
	text-align: center
}

.metadata
{
	font: 12px verdana, arial, sans-serif;
	color: #666;
	height: auto;
	background: #FFF
}

.metadata, .poster
{
	margin: 0 auto
}

.metadata, .container, img
{
	border: 1px solid;
	border-radius: 4px
}

.metadata div
{
	padding-bottom: 5px
}

.contentRating
{
	float: right;
	padding-right: 5px
}

.rating, .duration
{
	border-bottom: 1px solid lightgray
}

.gallery
{
	width: 60%;
	overflow: auto;
	margin: 0 auto 5px
}

.gallery, .container
{
	padding: 5px
}

.container
{
	float: left;
	margin-right: 5px;
	background: #f5f5f5
}